<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Find your next great adventure.</h1>
    <p class="lead">No better time to crack open that book than right before bedtime. Let us help you make your NYT reading experience a stellar one.</p>
  <!-- </br> -->
    <!-- <p>
      <a class="btn btn-success btn-large" href="#">Start searching</a>
    </p> -->

    <div class="row">
    <div class="col-sm-4">
        <h2>Select a Category</h2>

        <select ng-model="query.category" class="form-control">
          <option ng-repeat="category in categories" value="category.display_name">{{category.display_name}}</option>
        </select>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    </div>
  </div>
</header>

<div class="container" style="margin-top: 15px;">

  <!-- Error Feedback -->
  <p class="bg-danger" ng-show="error">{{error}}</p>

  <div class="col-lg-12 grid books">
    <div class="col-sm-4" ng-repeat="book in books">
      <figure class="effect-zoe">
        <img ng-src="{{book.book_image}}" alt="{{book.book_image}}">
        <figcaption>
          <h2>{{ book.title }}</h2>
          <p class="icon-links">
            <a href="#"><span class="icon-heart"></span></a>
            <a href="#"><span class="icon-eye"></span></a>
            <a href="#"><span class="icon-paper-clip"></span></a>
          </p>
          <p class="description">{{ book.description }}</p>
        </figcaption>     
      </figure>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |</p>
  </div>
</footer>
