.profile-image {
	float: left;
}

.image {
	margin-top: 10px;
	cursor: pointer;
}

.image.active img{
	border: 3px solid rgb(99, 99, 124);
}

.image img {
	width: 100%;
}

.signup {
	margin-top: 30px;
	width: 100%;
}