<div ng-include="'components/navbar/navbar.html'"></div>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<div id="loading" ng-class="{active:loading}">
  <i class="fa fa-gear fa-spin"></i>
</div>

<div class="container" style="margin-top: 15px;">

  <!-- Error Feedback -->
  <p class="bg-danger" ng-show="error">{{error}}</p>

  <div class="col-lg-12">

  	<h2>{{ user.name }}</h2>
	
	<br>

  	<img ng-src'user.profileImg'>

  </div>

  <div class="col-sm-12">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Rating</th>
              <th>Delete</th>
            </tr>
          </thead>
            <tbody>
              <tr ng-repeat="rating in ratings">
                <td>
                  <i class="fa fa-star" ng-show="1 <= rating.rating"></i>
                  <i class="fa fa-star" ng-show="2 <= rating.rating"></i>
                  <i class="fa fa-star" ng-show="3 <= rating.rating"></i>
                  <i class="fa fa-star" ng-show="4 <= rating.rating"></i>
                  <i class="fa fa-star" ng-show="5 <= rating.rating"></i>
                </td>
                <td><a ng-click="deleteRating(rating._id)"><i class="fa fa-trash-o"></i></a></td>
              </tr>
            </tbody>
        </table>

    </div>
</div>

<footer class="footer">
  <div class="container">
      <p>CS 4550 Final Project</p>
  </div>
</footer>